$white: #FFFFFF;
$sect-1-bg: #292929;
$btn-1: #3AB6B2;
$little-lines: #D3D3D3;
$sect-2-circle: #3B3B3B;
$sect-2-h: #323232;
$sect-2-p: #6A6A6A;
$black: #000000;
$h2-border: #E6E6E6;
$tablet-btn-bg: #3AB6B2;
$section-3-bg: #1E1E1E;
