@import '../../pallete.scss';
@import '../../functions.scss';
@import '../../mixins.scss';
@import '../../reset.scss';

.section-3 {
    width: 100%;
    height: 100%;
    padding-top: 128px;
    background-color: $section-3-bg;

    .sect-3-wrapper {
        width: 77%;
        margin: auto;
        margin-bottom: 152px;

        @include flex-direction-align-justify(column, center, center);

        .sect-3-header {
            margin-bottom: 154px;

            h1 {
                position: relative;
                color: $white;
                font-family: font-fam('Raleway');

                @include size-weight-line(31px, 600, 60px);

                &::before {
                    content: '';
                    display: inherit;
                    position: absolute;
                    z-index: 1;
                    bottom: -2px;
                    left: 50%;
                    width: 110px;
                    height: 1.1px;
                    transform: translate(-50%);
                    background-color: $little-lines;
                }

                &::after {
                    content: url(/images/section-3/services.png);
                    display: inherit;
                    position: absolute;
                    z-index: 2;
                    left: 50%;
                    width: 35px;
                    height: 30px;
                    transform: translate(-50%);
                    background-color: $section-3-bg;

                    @include flex-direction-align-justify(initial, flex-end, center);
                }
            }
        }

        .sect-3-content {
            color: $white;
            text-align: center;

            @include flex-direction-align-justify(initial, center, space-between);

            .sect-3-content-item {
                position: relative;
                width: 25%;

                @include flex-direction-align-justify(column, center, initial);

                h4 {
                    margin-bottom: 6px;
                    color: $tablet-btn-bg;
                    font-family: font-fam('Raleway');

                    @include size-weight-line(20px, 700, 40px);
                }

                p {
                    font-family: font-fam('Open sans');

                    @include size-weight-line(14px, 400, 22px);
                }

                &::before {
                    content: '';
                    display: block;
                    width: 136px;
                    height: 163px;
                    margin-bottom: 25px;
                    background-image: url(/images/section-3/polygon.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100%;
                }

                &:hover {

                    &::before {
                        background-image: url(/images/section-3/polygon.svg), url(/images/section-3/polygon-fill.svg);
                        background-position: center, center;
                        background-size: 92%;
                    }
                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 68px;
                    right: 0;
                    left: -4px;
                    width: 28px;
                    height: 26px;
                    margin: 0 auto;
                    background-image: url(/images/section-3/stat.svg);
                    background-repeat: no-repeat;
                }

                &.visitors {

                    &::after {
                        background-image: url(/images/section-3/visitors.svg);
                    }
                }

                &.diagram {

                    &::after {
                        background-image: url(/images/section-3/sales.svg);
                    }
                }
            }
        }
    }
}
