@import '../../pallete.scss';
@import '../../functions.scss';
@import '../../mixins.scss';
@import '../../reset.scss';

.section-2 {
    padding-top: 8%;

    @include flex-direction-align-justify(initial, center, center);
    @include width-height(100%, 100%);

    .sect-2-wrapper {
        margin-bottom: 127px;

        @include width-height(77%, 100%);
        @include flex-direction-align-justify(column, initial, space-between);

        .sect-2-header {
            margin-bottom: 7.7%;
            font-family: font-fam('Raleway');

            @include flex-direction-align-justify(column, center, center);

            h1 {
                margin-bottom: 15px;

                @include size-weight-line(31px, 600, 31px);

                span {
                    color: $btn-1;
                }
            }

            .icon-with-lines {
                @include flex-direction-align-justify(initial, center, space-around);

                img {
                    margin: 0 10px;
                }

                $ba: before, after;

                @each $element in $ba {

                    &::#{$element} {
                        content: '';
                        background-color: $little-lines;

                        @include width-height(30px, 1.1px);
                    }
                }
            }
        }

        .sect-2-content {
            @include flex-direction-align-justify(initial, flex-start, center);

            .sect-2-content-img {
                margin-right: 7.6%;

                .sect-2-content-img-tabl {
                    display: none;
                }
            }

            .sect-2-content-texts {
                width: 580px;
                height: 92.6%;
                padding: 0 0 0 6px;

                @include flex-direction-align-justify(column, initial, space-between);

                .sect-2-content-texts-header {
                    margin-bottom: 48px;

                    h2 {
                        margin-bottom: 25px;
                        color: $sect-2-h;
                        font-family: font-fam('Raleway');
                        letter-spacing: -.8px;

                        @include size-weight-line(31px, 600, 31px);
                    }

                    p {
                        color: $sect-2-p;
                        font-family: font-fam('Open sans');

                        @include size-weight-line(14px, 400, 27px);
                    }
                }

                .sect-2-content-texts-items {
                    display: grid;
                    grid-column-gap: 30px;
                    grid-row-gap: 20px;
                    grid-template-columns: 252px 252px;
                    grid-template-rows: 1fr 1fr;

                    h4 {
                        margin-bottom: 10px;
                        color: $sect-2-h;
                        font-family: font-fam('Raleway');
                        letter-spacing: -.3px;

                        @include size-weight-line(18px, 700, 22px);
                    }

                    p {
                        color: $sect-2-p;
                        font-family: font-fam('Open-sans');

                        @include size-weight-line(13px, 400, 22px);
                    }

                    @include width-height(586px, 206px);

                    .sect-2-content-texts-item {
                        @include flex-direction-align-justify(initial, flex-start, flex-start);

                        &::before {
                            content: url(/images/section-2/features-one.png);
                            margin-right: 28px;
                        }

                        &.location {

                            &::before {
                                content: url(/images/section-2/features-two.png);
                                margin-right: 28px;
                            }
                        }

                        &.heart {

                            &::before {
                                content: url(/images/section-2/features-three.png);
                                margin-right: 28px;
                            }
                        }

                        &.write {

                            &::before {
                                content: url(/images/section-2/features-four.png);
                                margin-right: 28px;
                            }
                        }
                    }
                }
            }
        }

        .sect-2-tablet-btn {
            display: none;
        }
    }
}
