.section-2 {

    .sect-2-wrapper {

        .sect-2-content {

            .sect-2-content-img {
                margin-right: 3%;

                img {
                    width: 400px;
                }
            }

            .sect-2-content-texts {
                width: 100%;
            }
        }
    }
}
