@import '../../pallete.scss';
@import '../../functions.scss';
@import '../../mixins.scss';
@import '../../reset.scss';

.header {
    display: flex;
    width: 100%;
    background: $black;

    .wrapper {
        margin: auto;
        padding: 26px 0;

        @include flex-direction-align-justify(initial, center, space-between);
        @include width-height(77%, 100%);

        .logo {
            display: inline-block;
            color: $white;
            font-family: font-fam('Raleway');

            @include size-weight-line(36px, 300);

            letter-spacing: .5px;

            &::before {
                content: url(/images/header/logo.png);
                display: inline-block;
                width: 20px;
            }
        }

        nav {
            width: 740px;
            font-family: font-fam('Open sans');
            font-size: 14px;

            @include flex-direction-align-justify(initial, center, space-between);
            @include size-weight-line(14px);

            a {
                color: $white;
            }
        }

        .burger {
            display: none;
        }
    }
}
