@import '../../mixins.scss';

.header {

    .wrapper {
        width: 87%;
        padding: 10px 0;

        .logo {
            font-size: 27px;

            &::before {
                width: 11px;
            }
        }

        nav {
            display: none;
        }

        .burger {
            display: inherit;

            img {
                width: 49px;
                height: 30px;
            }
        }
    }
}
